[transmogrifier]
pipeline =
    source
    transform-path
    condition
    refactor
    constructor
    schema-at
    schema-dx
    uid
    datafields
    mimetype
    update-cover
    relatedItems
    browserdefault
    reindexobject
    logger
    savepoint

[source]
blueprint = brasil.sections.jsonsource
directory = brasil.gov.portal:profiles/initcontent/dados/portal

[transform-path]
blueprint = collective.transmogrifier.sections.inserter
key = string:_path
value = python:item.get('_path', '').replace('/portal/', '/')

[condition]
blueprint = collective.transmogrifier.sections.condition
condition = python:item.get('_type', '')

[refactor]
blueprint = brasil.sections.refactor

[constructor]
blueprint = collective.transmogrifier.sections.constructor

[schema-at]
blueprint = plone.app.transmogrifier.atschemaupdater

[schema-dx]
blueprint = transmogrify.dexterity.schemaupdater
disable-constraints = python:True

[update-cover]
blueprint = brasil.sections.cover

[uid]
blueprint = plone.app.transmogrifier.uidupdater

[datafields]
blueprint = brasil.sections.datafields

[mimetype]
blueprint = collective.jsonmigrator.mimetype

[debug]
# Add this into the pipeline to get a pdb prompt for debugging
blueprint = collective.transmogrifier.sections.inserter
key = string:debug
value = python:modules['pdb'].set_trace()
condition = python:'imagens/desert.jpg' in item.get('_path', '')

[relatedItems]
blueprint = brasil.sections.relatedItems

[browserdefault]
blueprint = plone.app.transmogrifier.browserdefault

[reindexobject]
blueprint = plone.app.transmogrifier.reindexobject

[savepoint]
blueprint = collective.transmogrifier.sections.savepoint
every = 100

[logger]
blueprint = collective.transmogrifier.sections.logger
level = INFO
name = Brasil:
key = _path
