[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    http://downloads.plone.org.br/release/1.0.5/versions.cfg
    https://raw.githubusercontent.com/plonegovbr/portal.buildout/master/buildout.d/versions.cfg
    https://raw.githubusercontent.com/plone/plone.app.robotframework/master/versions.cfg

package-name = brasil.gov.portal
package-extras = [test]
eggs += iw.debug

parts +=
    i18ndude
    omelette

[code-analysis]
directory = ${buildout:directory}/src/brasil/gov/portal
pre-commit-hook = True
flake8-ignore = E501
clean-lines = True
deprecated-aliases = True
prefer-single-quotes = True
return-status-codes = True
utf8-header = True

[instance]
zcml += iw.debug

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[versions]
brasil.gov.portal =