/*
 *
 * CSS com estilos genéricos para todos os temas
 *
 * @Autores
 *
 * - Simples Consultoria - www.simplesconsultoria.com.br
 * - DESERTO Digital - www.desertodigital.com.br
 * - Serpro - www.serpro.gov.br
 *
 * @Referencias
 *
 * Lista de padrões, convenções e boas praticas CSS que devem ser seguidas.
 * https://github.com/necolas/idiomatic-css/tree/master/translations/pt-BR
 *
 * Plugins para ordenar os atributos de CSS.
 * http://csscomb.com/
 *
 * Validador de CSS do W3C.
 * http://jigsaw.w3.org/css-validator/
 */

@media print {

    * {
        background: transparent !important;
        box-shadow: none !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        text-align: justify;
        text-shadow: none !important;
    }

    a,
    a:visited { text-decoration: underline; }

    a[href]:after { content: " (" attr(href) ")"; }

    abbr[title]:after { content: " (" attr(title) ")"; }

    .ir a:after,
    a[href^="javascript: "]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead { display: table-header-group; }

    tr,
    img { page-break-inside: avoid; }

    img { max-width: 100% !important; }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 { page-break-after: avoid; }

    .menuTrigger,
    .section,
    #barra-brasil,
    #category,
    #category-vcge,
    #em-destaque,
    #extra-footer,
    #footer,
    #header,
    #portal-features,
    #viewlet-social-like,
    #voltar-topo {
        display: none !important;
    }

    .cell {
        margin: 0 !important;
        width: 100%;
    }

    * { position: relative !important; }
}
